.app-page-validation-xml-new {
    margin: 8px;
}

.file-input {
    display: none;
}

.mat-card {
    max-width: 650px;
    margin: 15px;
}

.app-page-validation-xml-new-form {
    padding: 8px;
}

.app-page-validation-xml-new-progressbar-container {
    padding: 8px;
}

.app-page-validation-xml-new-size-error {
    text-decoration: wavy;
    color: red;
}

.app-page-validation-xml-new-result {
    padding: 8px;
    margin: 8px;
}

.app-page-validation-xml-new-result-line-error {
    color: red;
    font-weight: bold;
}

.app-page-validation-xml-new-result-line-warning {
    color: darkgoldenrod;
}

.app-page-validation-xml-new-result-line-info {
    color: gray;
}
