<div class="app-page-about">

    <mat-card class="mat-card">
        <mat-card-header>
            <mat-card-title>Webová verze Komplexního validátoru</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <div class="app-text-block">
                Komplexní validátor je nástroj k validaci balíčků, které jsou výsledkem digitalizace knihovních fondů
                podle standardů DMF.
                <br>
                Specifikace DMF: <a
                    href="https://standardy.ndk.cz/ndk/standardy-digitalizace/metadata">https://standardy.ndk.cz/ndk/standardy-digitalizace/metadata</a>
                <br>
                <br>
                Autoritou pro standardy DMF je Národní knihovna České republiky. Ta také provozuje webové rozhraní nad
                Komplexním validátorem, jako alternativu k jeho lokálnímu spouštění přes desktopovu aplikaci nebo přes
                příkazový řádek.
            </div>

            <div class="app-text-block">
                <h2>Zdrojové kódy a dokumentace</h2>
                <div class="app-text-block">
                    <h4>Komplexní validátor</h4>
                    <a href="https://github.com/NLCR/komplexni-validator"
                        target="_blank">https://github.com/NLCR/komplexni-validator</a>
                </div>
                <div class="app-text-block">
                    <h4>Webové rozhraní - frontend</h4>
                    <a href="https://github.com/NLCR/komplexni-validator-web-frontend"
                        target="_blank">https://github.com/NLCR/komplexni-validator-web-frontend</a>
                </div>
                <div class="app-text-block">
                    <h4>Webové rozhraní - backend</h4>
                    <a href="https://github.com/NLCR/komplexni-validator-web-backend"
                        target="_blank">https://github.com/NLCR/komplexni-validator-web-backend</a>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <br>
    <mat-card class="mat-card" *ngIf="!isLoggedIn()">
        <mat-card-header>
            <mat-card-title>Přihlášení</mat-card-title>
            <mat-card-subtitle>Pro přístup k validacím je nutné se přihlásit</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <asl-google-signin-button [type]="'standard'" [size]="'medium'" [text]="'signin_with'"
                [theme]="'outline'"></asl-google-signin-button>
        </mat-card-content>
    </mat-card>

    <br>
    <mat-card class="mat-card" *ngIf="showDevButtons()">
        <mat-card-header>
            <mat-card-title>dev</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="app-page-validation-button-container">
                <button mat-raised-button (click)="logUserServiceData()" color="warn">LOG user-service data</button>
            </div>
            <br>
            <div class="app-page-validation-button-container">
                <button mat-raised-button (click)="clearUserServiceData()" color="warn">CLEAR user-service data</button>
            </div>
            <br>
            <div class="app-page-validation-button-container">
                <button mat-raised-button (click)="testRequest()" color="warn">Test</button>
            </div>
        </mat-card-content>
    </mat-card>

</div>