<mat-toolbar color="primary" fxLayout="row">
  <div fxFlex>
    <a routerLink="/" class="app-logo" fxLayout="row">
      Komplexní validátor
    </a>
  </div>
  <div>
    <div class="app-navbar-item" *ngIf="isLoggedIn()">
      <a routerLink="/validations" routerLinkActive="active" mat-button class="app-navbar-item-a">Přehled validací</a>
    </div>
    <div class="app-navbar-item" *ngIf="isLoggedIn()">
      <a routerLink="/validations/new" routerLinkActive="active" mat-button class="app-navbar-item-a">Validovat</a>
    </div>
    <div class="app-navbar-item" *ngIf="isAdmin()">
      <a routerLink="/quotas" routerLinkActive="active" mat-button class="app-navbar-item-a">Kvóty</a>
    </div>
    <div class="app-navbar-item" *ngIf="isAdmin()">
      <a routerLink="/users" routerLinkActive="active" mat-button class="app-navbar-item-a">Uživatelé</a>
    </div>
    <div class="app-navbar-item">
      <a routerLink="/about" routerLinkActive="active" mat-button class="app-navbar-item-a">Informace</a>
    </div>
    <div class="profile-image-container" *ngIf="isLoggedIn()">
      <a routerLink="/user" routerLinkActive="active" mat-button class="app-navbar-item-a">
        <img *ngIf="isThumbnailAvailable()" src="{{getThumbnail()}}" class="app-navbar-avatar"
          referrerpolicy="no-referrer">
      </a>
    </div>
  </div>
</mat-toolbar>