<div class="app-page-validation-package">
    <div *ngIf="validation">
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>Přehled</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="validation['id']">id: {{validation['id']}}</div>
                <div *ngIf="validation['ownerId']">vlastník: {{validation['ownerId']}}</div>
                <div *ngIf="validation['state']">stav: <b>{{validation['state']}}</b></div>
                <div *ngIf="validation['packageName']">jméno balíčku: {{validation['packageName']}}</div>
                <div *ngIf="validation['packageSizeMB']">velikost balíčku: {{validation['packageSizeMB']}} MB</div>
                <div *ngIf="validation['note']">poznámka: {{validation['note']}}</div>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>Parametry validace</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="validation['dmfType']">typ DMF: {{validation['dmfType']}}</div>
                <div *ngIf="validation['forcedDmfVersion']">vynucená verze DMF: {{validation['forcedDmfVersion']}}</div>
                <div *ngIf="validation['preferredDmfVersion']">preferovaná verze DMF:
                    {{validation['preferredDmfVersion']}}
                </div>
                <div *ngIf="validation['priority']">priorita: {{validation['priority']}}</div>
                <div class="app-page-validation-package-button-container" *ngIf="canChangePriority()">
                    <button mat-stroked-button color="warn" (click)="decreasePriority()">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                        snížit prioritu
                    </button>
                    <button mat-stroked-button color="warn" (click)="increasePriority()"
                        *ngIf="this.validation['priority']>1">
                        <mat-icon>keyboard_arrow_up</mat-icon>
                        zvýšit prioritu</button>
                </div>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>Časové známky</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="validation['tsCreated']">nahráno: {{validation['tsCreated']|date:'yyyy/MM/dd HH:mm'}}</div>
                <div *ngIf="validation['tsScheduled']">naplánováno:
                    {{validation['tsScheduled']|date:'yyyy/MM/dd HH:mm'}}</div>
                <div *ngIf="validation['tsStarted']">spuštěno: {{validation['tsStarted']|date:'yyyy/MM/dd HH:mm'}}</div>
                <div *ngIf="validation['tsEnded']">ukončeno: {{validation['tsEnded']|date:'yyyy/MM/dd HH:mm'}}</div>
            </mat-card-content>
        </mat-card>

        <div>
            <div *ngIf="canBeCanceled()" class="app-page-validation-package-button-container">
                <button mat-stroked-button color="warn" (click)="cancelValidation()">
                    <mat-icon>cancel</mat-icon>
                    zrušit</button>
            </div>

            <div *ngIf="extractionLogAvailable()" class="app-page-validation-package-button-container">
                <button mat-stroked-button color="primary" (click)="downloadExtractionLogTxt()">
                    <mat-icon>download</mat-icon>
                    stáhnout log extrakce</button>
            </div>
            <div *ngIf="clamavLogAvailable()" class="app-page-validation-package-button-container">
                <button mat-stroked-button color="primary" (click)="downloadClamavLogTxt()">
                    <mat-icon>download</mat-icon>
                    stáhnout log antivirové kontroly</button>
            </div>
            <div *ngIf="validationLogTxtAvailable()" class="app-page-validation-package-button-container">
                <button mat-stroked-button color="primary" (click)="downloadValidationLogTxt()">
                    <mat-icon>download</mat-icon>
                    stáhnout log validace (txt)</button>
            </div>
            <div *ngIf="validationLogXmlAvailable()" class="app-page-validation-package-button-container">
                <button mat-stroked-button color="primary" (click)="downloadValidationLogXml()">
                    <mat-icon>download</mat-icon>
                    stáhnout log validace (xml)</button>
            </div>

        </div>
    </div>