<div class="app-page-validations-new">

    <mat-card class="mat-card">
        <mat-card-header>
            <mat-card-title>Nahrání nového balíčku k validaci</mat-card-title>
            <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>

            <div class="app-page-validation-form">
                <form (ngSubmit)="schedule()">

                    <mat-form-field>
                        <mat-label>Typ balíčku</mat-label>
                        <mat-select (selectionChange)="onDmfTypeSelected($event)"
                            [disabled]="waitingForBackend || userQuotasReached">
                            <mat-option>Neurčeno</mat-option>
                            <mat-option value="mon">Monografie</mat-option>
                            <mat-option value="per">Periodikum</mat-option>
                            <mat-option value="audio_fono">Zvuk-fonováleček</mat-option>
                            <mat-option value="audio_gram">Zvuk-gramodeska</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <br>

                    <mat-form-field>
                        <mat-label>Vynucená verze DMF</mat-label>
                        <mat-select (selectionChange)="onDmfForcedVersionSelected($event)"
                            [disabled]="!dmfType || waitingForBackend || userQuotasReached">
                            <mat-option>Neurčeno</mat-option>
                            <mat-option *ngFor="let version of getAvailableDmfVersions()" value="{{version}}">
                                {{version}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <br>

                    <mat-form-field>
                        <mat-label>Preferovaná verze DMF</mat-label>
                        <mat-select (selectionChange)="onDmfPreferredVersionSelected($event)"
                            [disabled]="!dmfType || dmfForcedVersion || waitingForBackend || userQuotasReached">
                            <mat-option>Neurčeno</mat-option>
                            <mat-option *ngFor="let version of getAvailableDmfVersions()" value="{{version}}">
                                {{version}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="fill">
                        <mat-label>Poznámka</mat-label>
                        <input matInput placeholder="Poznámka" [(ngModel)]="note" [ngModelOptions]="{standalone: true}"
                            [disabled]="waitingForBackend || userQuotasReached">
                        <mat-icon matSuffix color="primary">note</mat-icon>
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                    <br>

                    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload
                        accept="application/zip" [disabled]="waitingForBackend">
                    <div class="file-upload">
                        <button mat-stroked-button color="primary" class="upload-btn" (click)="fileUpload.click()"
                            [disabled]="waitingForBackend || userQuotasReached">
                            <mat-icon>attach_file</mat-icon>
                            Vybrat ZIP soubor balíčku
                        </button>
                    </div>
                    <div *ngIf="fileSelected" style="padding: 8px;">
                        <div>
                            soubor: {{fileSelected!.name}}
                        </div>
                        <div>
                            velikost: {{getPackageSizeMB()}} MB
                        </div>
                        <div *ngIf="packageTooBig()" class="app-page-validation-size-error">
                            Soubor je příliš velký. Maximální povolená velikost je
                            {{maxPackageSizeMB}}
                            MB.
                        </div>
                    </div>
                </form>
            </div>

            <div class="app-page-validation-progressbar-container">
                <mat-progress-bar *ngIf="waitingForBackend" mode="indeterminate"></mat-progress-bar>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button [disabled]="!formIsValid() || waitingForBackend || userQuotasReached"
                color="primary" (click)="schedule()">Naplánovat validaci</button>
            <!-- <button mat-button (click)="test()">Test</button> -->
        </mat-card-actions>
    </mat-card>

    <mat-card class="mat-card" style="padding: 15px;" *ngIf="userQuotasReached">
        <mat-card-title>Vyčerpali jste kvóty pro počet validací</mat-card-title>
        <mat-card-subtitle>Nyní nemůžete nahrávat další balíčky k validaci</mat-card-subtitle>
        <mat-card-content>
            <br>
            <div>
                Aktuálně máte {{myValidationsActive}} aktivních, {{myValidationsInactive}} neaktivních a
                {{myValidationsDeleted}} dokončených validací.
            </div>
            <br>
            <div>
                Pro neověřené uživatele je povoleno maximálně {{userUnverifiedMaxActiveJobs}} aktivních a
                {{userUnverifiedMaxInactiveJobs}} neaktivních validací.
            </div>
            <div>
                Pro ověřené uživatele je povoleno maximálně {{userVerifiedMaxActiveJobs}} aktivních a
                {{userUnverifiedMaxInactiveJobs}} neaktivních validací.
            </div>
            <br>
            <div *ngIf="!iAmVerified">
                Vy jste neověřený uživatel.
            </div>
            <div *ngIf="iAmVerified">
                Vy jste ověřený uživatel.
            </div>
        </mat-card-content>
    </mat-card>


</div>