<div class="app-page-validations-new">
    <!-- <button (click)="test()">test</button> -->

    <!-- <mat-progress-bar class="progress-bar" *ngIf="inProgress" mode="indeterminate"></mat-progress-bar> -->


    <form #f="ngForm" (ngSubmit)="schedule(f.value)">
        <!-- <h2 mat-dialog-title>blabla</h2> -->
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Poznámka</mat-label>
                <input matInput placeholder="Poznámka" [(ngModel)]="note" [ngModelOptions]="{standalone: true}">
                <mat-icon matSuffix>note</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>

        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload accept="application/zip">
        <div class="file-upload">
            {{fileSelected?.name || "Vyberte balík v souboru ZIP."}}
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
        <div *ngIf="fileSelected">
            velikost balíčku: {{getPackageSizeMB()}} MB
        </div>

        <!-- TODO: nastylovat -->
        <div *ngIf="packageTooBig()">
            Soubor {{fileSelected?.name}} je příliš velký. Maximální povolená velikost je {{maxPackageSizeMB}} MB.
        </div>

        <div>
            <button mat-flat-button [disabled]="!formIsValid()" color="primary" type="submit">Nahrát</button>
        </div>


    </form>



</div>