.app-page-validations {
    background-color: #fdfdfd;
    padding: 16px;
    min-height: 1200px;
    display: flex;
    flex-flow: column;
    height: 100%;
}

table {
    width: 100%;
}

.table-cell-note {
    max-width: 300px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}
