<div class="app-page-user">


    <mat-card class="mat-card">
        <mat-card-header>
            <mat-card-title>{{ getSocialUser().name }}</mat-card-title>
            <mat-card-subtitle>{{ getSocialUser().email }}</mat-card-subtitle>
            <img mat-card-avatar src="{{ getSocialUser().photoUrl }}">
        </mat-card-header>
        
        <mat-card-content>
            <div style="min-height: 20px;"></div>

            <button *ngIf="isVerified()" mat-flat-button color="primary" style="margin-right: 8px;">
                <mat-icon>done</mat-icon>
                ověřený uživatel</button>

            <button *ngIf="!isVerified()" mat-flat-button color="primary" disabled style="margin-right: 8px;">
                <mat-icon>close</mat-icon>
                není ověřený</button>

            <button *ngIf="isAdmin()" mat-flat-button color="primary">
                <mat-icon>done</mat-icon>
                admin</button>

            <button *ngIf="!isAdmin()" mat-flat-button color="primary" disabled="">
                <mat-icon>close</mat-icon>
                není admin</button>
            <div style="min-height: 50px;"></div>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-stroked-button (click)="logout()" color="primary">Odhlásit se</button>
        </mat-card-actions>

    </mat-card>



</div>